a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 106px;
    display: flex;
    flex-wrap: wrap;
}
.button{
    border: 2px solid #000;
    border-radius: 20px;
    background-color: darkorange;
    width: 170px;
    height: 40px;
    margin: 20px;
}
.link__holder{
    padding: 7px 0 0 15px;
}
.button:hover{
    background-color: aqua;
    cursor: pointer;
}