a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 106px;
    display: flex;
    flex-wrap: wrap;
}
.button{
    border-radius: 10px;
    background-color: #24A3FF;
    width: 180px;
    height: 40px;
    margin: 20px 37px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.link__holder{
    padding: 7px 0 0 15px;
}
.button:hover{
    background-color: aqua;
    transition: 0.5s;
    
}