#container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}
div{
    font-size: 15px;
    color: black;
    padding-bottom: 15px;
}
ul{
    padding-inline-start: 0;
}
li{
    cursor: pointer;
    list-style: none;
    text-align: start;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    padding: 8px;
    margin: 5px;
}
button{
    display: block;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: lightgreen;
    color: black;
    margin: 0 auto;

}
section{
    border: 2px solid black;
    padding: 15px;
    margin: 5px;
    width: 33%;
    background-color: lightcyan;
    color: blue;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
} 