#container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
section{
    margin: 0 auto;
    width: 75%;
    border: 2px solid lightcoral;
    border-radius: 8px;
}
div{
    color: cornflowerblue;
    padding: 0 25px;
}
h2{
    font-size: 25px;
    color: cornflowerblue;
    text-align: center;
    letter-spacing: 3px;
}
input{
    width: 50%;
    height: 25px;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
    border-radius: 15px;
    border-color: lightcoral;
    cursor: pointer;
    border: 2px solid lightgrey;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::placeholder {
    color: lightslategray;
}
input:hover{
    border: 2px solid cornflowerblue;
    transition: 0.5s;
}
input:focus-visible{
    border: 2px solid #0085FF !important;
    outline-offset: 0px;
    outline: -webkit-focus-ring-color auto 0px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
button{
    width: 20%;
    height: 26px;
    background: cornflowerblue;
    border: none;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    color: #ffffff;
}
button:hover {
    background: #0085FF !important;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    transition: 0.5s;
}
#post_wrapper{
    display: none;
}
#comment_wrapper{
    display: none;
}
#error_wrapper{
    display: none;
}
h3{
    font-size: 30px;
    color: red;
    text-align: center;
    text-transform: uppercase;
}
li{
    color: cornflowerblue;
    padding-bottom: 10px;
}